<%= render "devise/shared/error_messages", resource: resource %>
<div class="d-flex justify-content-center align-items-center my-5">
  <div class="card" style='width:500px;'>
    <div class="card-header">
      <h3>Resend confirmation instructions</h3>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <div class="form-group mb-3">
          <%= f.label :email, class:"form-label" %>
          <%= f.email_field :email,class:"form-control", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
        <div>
          <%= f.submit "Resend confirmation instructions", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="card-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
