<div class="container">
  <h1 class="text-center my-2"><%= @recipe.name %></h1>
  <div class="row mt-2 d-flex justify-content-center">
    <div class="col-md-8">
      <p>Preparation Time: <%= @recipe.preparation_time %></p>
      <p>Preparation Time: <%= @recipe.cooking_time %></p>
      <p>Step go here...</p>
    </div>
    <div class="col-md-4">
      <%= form_with model:@recipe, url:recipe_path(@recipe.id), html:{method: :put} do |f| %>
        <button type="submit" class="btn" id="recipe_public">
          <div class="form-check form-switch">
            <%= f.label :public, class:"form-check-label" %>
            <%= f.check_box :public, class:"form-check-input" %>
          </div>
        </button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= link_to 'General shopping list', shopping_list_index_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-4">
      <!-- Button trigger modal -->
      <%= link_to 'Add Ingredient', new_recipe_recipe_food_path(@recipe.id), class: 'btn btn-primary' %>
    </div>
    <table class="table table-hover table-bordered mt-4 table-responsive{-sm|-md|-lg|-xl} ">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Value</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name%></td>
            <td>$<%= food.price%></td>
            <td>
              <% sum = 0 %>
                <% sum += food.quantity * food.price %>
              <%= "Total price: $#{sum}" %>
            </td>
            <td>
              <%= button_to "Delete", food_path(food.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
